<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phishing Website Detection</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<nav>
    <h2>Phishing Detector</h2>

    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
    </ul>
</nav>

<section class="hero">

    <img src="{{ url_for('static', filename='images/phishing.png') }}" width="350">

    <h1>Phishing Website Detection System</h1>

    <p>
        Detect phishing websites using Machine Learning.
    </p>

    <a href="/login">
        <button>Get Started</button>
    </a>

</section>

</body>
</html>